/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.scrolling-text {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

.scrolling-text span {
    display: inline-block;
    min-width: 100%; /* Garante que cada cópia ocupe toda a largura */
    animation: scrollText 10s linear infinite;
}

@keyframes scrollText {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

