html, body {
    height: 100%; /* Garante que o body ocupe toda a altura da página */
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: #16368a;
}

body {
    display: flex;
    flex-direction: column; /* Organiza os elementos em uma coluna: header, main, footer */
    min-height: 100vh; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
}

.container-img {
    display: flex;
    justify-content: space-between; 
    gap: 5px; 
}

.container-img img {
    width: 100%;
    max-width: 30%; 
    height: auto; 
}


header {
    background-color: #f7d320; /* Azul baseado na logo */
    color: white;
    padding: 10px 0;
    text-align: center;
}

.logo-img {
    max-width: 250px;
    
}

h1 {
    font-size: 2.8rem;
    color: #FF4500; /* Laranja da logo */
}

.about, .cta  {
    margin: 40px 0;
    text-align: center;
}

.about h2, .cta h2, .news h2 {
    font-size: 2rem;
    color: #16368a; /* Azul da logo */
}

.about p, .cta p {
    font-size: 1.2rem;
    color: #333;
}

.btn-whatsapp {
    background-color: #f7d320; /* Verde do WhatsApp */
    color: #16368a;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    gap: 10px;
    transition: background-color 0.3s;
}

.btn-whatsapp:hover {
    background-color: #16368a; /* Efeito de hover no botão */
    color: #f7d320;
}

.news-banner {
    background-color: #16368a; /* Azul baseado na logo */
    color: white;
    text-align: center;
    padding: 30px 20px;
    border-radius: 8px;
    margin: 40px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.news-banner h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.news-banner p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn-news {
    background-color: #f7d320; /* Cor de destaque do botão */
    color: #16368a; /* Texto azul */
    padding: 15px 30px;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

.btn-news:hover {
    background-color: #ffc107; /* Cor mais clara no hover */
    color: #fff;
}


footer {
    background-color: #f7d320; /* Azul da logo */
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    margin-top: auto; /* Empurra o rodapé para o final da página */
}

footer p {
    margin: 0;
    font-size: 1rem;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .about h2, .cta h2, .news h2 {
        font-size: 1.6rem;
    }

    .about p, .cta p {
        font-size: 1rem;
    }

    .btn-whatsapp {
        padding: 15px 10px;
        font-size: 0.8rem;
    }
    
    .cta-buttons {
        flex-direction: row; /* Alinha os botões lado a lado */
        justify-content: center; /* Centraliza os botões */
    }

    .btn-whatsapp {
        flex: 1 1 45%; /* Os botões ocupam aproximadamente 45% da largura da tela */
        max-width: none; /* Remove a limitação de largura nos botões para que possam se ajustar ao espaço */
    }
}
/* Seção de Notícias */
.news {
    margin-top: 10px;
    text-align: center;
}

.news-container {
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.news-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 25%; /* Diminui o tamanho do card */
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Animação ao passar o mouse */
}

.news-card:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

.news-card h3 {
    font-size: 1.4rem; /* Ajuste do tamanho da fonte */
    color: #16368a; 
    margin-bottom: 5px;
}

.news-card p {
    color: #666;
    line-height: 1.6;
}

.news-card strong {
    color: #333;
}

/* Estilizando o botão flutuante */
.whatsapp-float {
    position: fixed;
    bottom: 20px; /* Distância do fundo da página */
    right: 20px; /* Distância da lateral direita da página */
    background-color: #25d366; /* Cor do botão (verde do WhatsApp) */
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    text-decoration: none;
    animation: pulse 2s infinite; /* Animação de pulsar */
    transition: all 0.3s ease-in-out; /* Transição suave para o hover */
  }
  
  /* Efeito pulsante contínuo */
  @keyframes pulse {
    0% {
      transform: scale(1); /* Tamanho normal */
    }
    50% {
      transform: scale(1.1); /* Aumenta 10% */
    }
    100% {
      transform: scale(1); /* Volta ao tamanho original */
    }
  }
  
  /* Estilizando a imagem do ícone */
  .whatsapp-float img {
    width: 50px; /* Tamanho do ícone */
    height: 50px;
  }
  
  /* Efeito ao passar o mouse (hover) */
  .whatsapp-float:hover {
    background-color: #128c7e; /* Cor mais escura quando o botão é pressionado */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4); /* Sombra maior ao passar o mouse */
    transform: scale(1.15); /* Aumenta o tamanho ao passar o mouse */
    animation: none; /* Remove o efeito de pulsar durante o hover */
  }
  

/* Media Queries para responsividade */
@media (max-width: 1200px) {
    .news-card {
        width: 45%; /* Ajusta a largura para telas médias */
    }

    .news-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .whatsapp-float img {
        width: 30px; /* Tamanho do ícone */
        height: 30px;
      }

      .whatsapp-float {
        padding: 15px;
      }
}

@media (max-width: 768px) {
    .news-card {
        width: 70%; /* Ajusta a largura para telas pequenas */
    }
    .news-container {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .whatsapp-float img {
        width: 30px; /* Tamanho do ícone */
        height: 30px;
      }

      .whatsapp-float {
        padding: 15px;
      }

    }

@media (max-width: 480px) {
    .news-card {
        width: 65%; /* Ajusta para ocupar toda a largura da tela em dispositivos móveis */
        padding: 15px; /* Maior espaçamento em telas menores */
    }

    .news-card h3 {
        font-size: 1rem; /* Diminui o tamanho da fonte em dispositivos menores */
    }
    .news-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .whatsapp-float img {
        width: 30px; /* Tamanho do ícone */
        height: 30px;
      }

      .whatsapp-float {
        padding: 15px;
      }

   
}


  
